@page
@model VotingCoreWeb.Areas.Admin.Pages.Session.UpdateModel
@{
    ViewData["Title"] = SessionAdminRes.PAGE_TITLE;
}

@await Component.InvokeAsync("Alert", new { alert = Model.Alert })

<div id="content">
    <div class="float-right">
        <a asp-page="/Session/Index" asp-route-id="@Model.Item.BodyId" class="btn btn-info">@AdminRes.BUTTON_LIST</a>
    </div>
    <h1>@SessionAdminRes.PAGE_TITLE_UPDATE</h1>
    <form method="post">
        <input type="hidden" name="Item.Id" value="@Model.Item.Id" />
        <div class="form-group">
            <label asp-for="Item.Name"></label>
            <input asp-for="Item.Name" class="form-control form-control-lg" />
            <span asp-validation-for="Item.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item.Chairman"></label>
            <input asp-for="Item.Chairman" class="form-control form-control-lg" />
            <span asp-validation-for="Item.Chairman"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item.StartDate"></label>
            <input asp-for="Item.StartDate" type="date" class="form-control form-control-lg" min="1990-01-01" max="2099-12-31" />
            <span asp-validation-for="Item.StartDate"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item.EndDate"></label>
            <input asp-for="Item.EndDate" type="date" class="form-control form-control-lg" min="1990-01-01" max="2099-12-31" />
            <span asp-validation-for="Item.EndDate"></span>
        </div>
        <div class="form-group">
            <h3>@SessionAdminRes.LABEL_PRESENT_MEMBERS</h3>
            <ul class="list-unstyled row">
                @for (int index = 0; index < Model.MemberList.Count; index++)
                {
                    <li class="list-item col-6 col-md-4 col-lg-3">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="MemberList[index].DeputyId" type="hidden" />
                            <input asp-for="MemberList[index].IsChecked" type="checkbox" class="custom-control-input">
                            <label asp-for="MemberList[index].IsChecked" class="custom-control-label">@Model.MemberList[index].DeputyName</label>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-info" name="action" asp-page-handler="Topics">@SessionAdminRes.BUTTON_TOPICS</button>
            <button type="submit" class="btn btn-primary" name="action" asp-page-handler="Save">@AdminRes.BUTTON_SAVE</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
