@page
@model VotingCoreWeb.Areas.Admin.Pages.Party.IndexModel
@{
    ViewData["Title"] = PartyAdminRes.PAGE_TITLE;
    ViewData["MenuItem"] = CommonRes.MENU_ITEM_ADMIN_PARTY;
}

<div id="content">
    <div class="float-right">
        <a asp-area="Admin" asp-page="/Party/Create" asp-route-municipalityId="@Model.MunicipalityId" class="btn btn-success">@PartyAdminRes.BUTTON_CREATE</a>
    </div>
    <h1>@PartyAdminRes.TABLE_TITLE</h1>
    <div class="grid-view">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@PartyAdminRes.COLUMN_NAME</th>
                    <th scope="col">@CommonRes.COLUMN_ACTION</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ItemList)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a asp-page="/Party/Update" asp-route-id="@item.Id" class="btn btn-primary">@AdminRes.BUTTON_UPDATE</a>
                            <a asp-page="/Party/Delete" asp-route-id="@item.Id" class="btn btn-danger">@AdminRes.BUTTON_DELETE</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
