@using VotingWeb.Properties
@model VotingWeb.Models.Municipalities.SessionListModel
@{
    ViewBag.Title = Model.MunicipalityName;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@VotingRes.TITLE_HOME</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.MunicipalityName</li>
    </ol>
</nav>
<div class="row">
    <div class="col">
        <h1>@Model.MunicipalityName</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>@VotingRes.HEADER_SESSION_LIST</h3>
        <div class="list-group">
            @foreach (var session in Model.SessionList)
            {
                <a href="@Url.Action("Index", "Session", new { id = session.Id })" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="tooltip" data-placement="top" title="@session.Name">
                    <h3 class="text-truncate">@session.Name</h3>
                    @if (session.StartDate != null && session.EndDate != null)
                    {
                        if (session.StartDate != session.EndDate)
                        {
                            <p>@session.StartDate - @session.EndDate</p>
                        }
                        else
                        {
                            <p>@session.StartDate</p>
                        }
                    }
                </a>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}
