@page
@model VotingCoreWeb.Areas.Admin.Pages.Municipality.DeleteModel
@{
    ViewData["Title"] = MunicipalityAdminRes.PAGE_TITLE;
}

<div id="content">
    <div class="float-right">
        <a asp-page="/Municipality/Index" class="btn btn-info">@AdminRes.BUTTON_LIST</a>
    </div>
    <h1>@MunicipalityAdminRes.PAGE_TITLE_DELETE</h1>
    <form method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="Name" value="@Model.Name" />
        <div class="form-group">
            <label>@MunicipalityAdminRes.DETAIL_NAME</label>
            <div class="form-control">@Model.Name</div>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-warning">@AdminRes.BUTTON_DELETE</button>
        </div>
    </form>
</div>
