@using VotingWeb.Properties
@using VotingWeb.Areas.Admin.Models.Imports
@model ImportModel
@{
    ViewBag.Title = ImportAdminRes.PAGE_TITLE;
}

<div id="content">
    <div class="float-right">
        @Html.ActionLink(AdminRes.BUTTON_LIST, "Index", "Import", null, new { @class = "btn btn-info" })
    </div>
    <h1>@ImportAdminRes.PAGE_TITLE_DETAIL</h1>
    <div class="row">
        <div class="col-lg-12">
            <div><b>@ImportAdminRes.DETAIL_TITLE </b>@Model.SessionModel.Title</div>
            <div><b>@ImportAdminRes.DETAIL_DATE_START </b>@(Model.SessionModel.StartDate.HasValue ? Model.SessionModel.StartDate.Value.ToString("D") : ImportAdminRes.LABEL_NO_DATE)</div>
            <div><b>@ImportAdminRes.DETAIL_DATE_END </b>@(Model.SessionModel.StartDate.HasValue ? Model.SessionModel.StartDate.Value.ToString("D") : ImportAdminRes.LABEL_NO_DATE)</div>
            <div><b>@ImportAdminRes.DETAIL_CHAIRMAN </b>@Model.SessionModel.Chairman</div>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">@ImportAdminRes.DETAIL_TOPIC_NAME</th>
                <th scope="col">@ImportAdminRes.DETAIL_TOPIC_TIME</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var topicModel in Model.SessionModel.TopicList)
            {
                <tr>
                    <th scope="row">@topicModel.Order</th>
                    <td>@topicModel.Name</td>
                    <td>@(topicModel.Time.HasValue ? topicModel.Time.Value.ToLongTimeString() : "")</td>
                </tr>
            }
        </tbody>
    </table>

    @using (Html.BeginForm("Import", "Import"))
    {
        @Html.HiddenFor(model => model.Importer)
        @Html.HiddenFor(model => model.MunicipalityId)
        @Html.HiddenFor(model => model.Filename)
        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-primary">@ImportAdminRes.BUTTON_IMPORT</button>
        </div>
    }
</div>

