@page
@model VotingCoreWeb.BodyModel
@{
    ViewData["Title"] = Model.BodyName;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">@VotingRes.TITLE_HOME</a></li>
        <li class="breadcrumb-item"><a asp-page="/Municipality" asp-route-id="@Model.MunicipalityId">@Model.MunicipalityName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.BodyName</li>
    </ol>
</nav>
<div class="row">
    <div class="col">
        <h1>@Model.BodyName</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>@VotingRes.HEADER_SESSION_LIST</h3>
        <div class="list-group">
            @foreach (var session in Model.SessionList)
            {
                <a asp-page="Session" asp-route-id="@session.Id" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="tooltip" data-placement="top" title="@session.Name">
                    <h3 class="text-truncate">@session.Name</h3>
                    @if (session.StartDate != null && session.EndDate != null)
                    {
                        if (session.StartDate != session.EndDate)
                        {
                            <p>@session.StartDate - @session.EndDate</p>
                        }
                        else
                        {
                            <p>@session.StartDate</p>
                        }
                    }
                </a>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}
