@page
@model IndexModel
@{
    ViewData["Title"] = VotingRes.TITLE_HOME;
}

<div class="row">
    <div class="col">
        <h1>@VotingRes.TITLE_HOME</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="list-group">
            @foreach (var municipality in Model.MunicipalityList)
            {
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <h3>@municipality.Name</h3>
                    <p>@municipality.Description</p>
                    <a asp-page="/Municipality" asp-route-id="@municipality.Id" class="btn btn-secondary">@VotingRes.BUTTON_MUNICIPALITY_DETAIL</a>
                    @foreach (var body in municipality.BodyList)
                    {
                        <a asp-page="/Body" asp-route-id="@body.Id" class="btn btn-primary">@body.Name</a>
                    }
                </div>
            }
        </div>
    </div>
</div>
