@page
@model VotingCoreWeb.SessionModel
@{
    ViewData["Title"] = Model.SessionName;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">@VotingRes.TITLE_HOME</a></li>
        <li class="breadcrumb-item"><a asp-page="/Municipality" asp-route-id="@Model.MunicipalityId">@Model.MunicipalityName</a></li>
        <li class="breadcrumb-item"><a asp-page="/Body" asp-route-id="@Model.BodyId">@Model.BodyName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.SessionName</li>
    </ol>
</nav>
<div class="row">
    <div class="col">
        <h1>@Model.SessionName</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>@VotingRes.HEADER_TOPIC_LIST</h3>
        <div class="list-group">
            @foreach (var topic in Model.TopicList)
            {
                <a asp-page="/Topic" asp-route-id="@topic.Id" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="tooltip" data-placement="top" title="@topic.Name">
                    <div class="row">
                        <div class="col-10">
                            <h3 class="text-truncate">@topic.Order. @topic.Name</h3>
                            @if (!string.IsNullOrWhiteSpace(topic.Comment) || topic.IsShowResults)
                            {
                                <p>
                                    @topic.Comment
                                    @if (!string.IsNullOrWhiteSpace(topic.Comment) && topic.IsShowResults)
                                    {
                                        <br />
                                    }
                                    @if (topic.IsShowResults)
                                    {
                                        @VotingRes.TOPIC_RESULT_YES <b>@topic.VoteYes</b>@:,
                                        @VotingRes.TOPIC_RESULT_NO <b>@topic.VoteNo</b>@:,
                                        @VotingRes.TOPIC_RESULT_ABSTAIN <b>@topic.VoteAbstain</b>@:,
                                        @VotingRes.TOPIC_RESULT_MISSING <b>@topic.VoteMissing</b>@:,
                                        @VotingRes.TOPIC_RESULT_NOT <b>@topic.VoteNot</b>
                                    }
                                </p>
                            }
                        </div>
                        <div class="col-2">
                            @if (topic.IsApproved){
                                <img src="~/images/icons8-checkmark-yes-50.png" />
                            }
                            else
                            {
                                <img src="~/images/icons8-macos-close-50.png" />
                            }
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}
