@page
@model VotingCoreWeb.TopicModel
@{
    ViewData["Title"] = VotingRes.TITLE_VOTING;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="/Index">@VotingRes.TITLE_HOME</a></li>
        <li class="breadcrumb-item"><a asp-page="/Municipality" asp-route-id="@Model.MunicipalityId">@Model.MunicipalityName</a></li>
        <li class="breadcrumb-item"><a asp-page="/Body" asp-route-id="@Model.BodyId">@Model.BodyName</a></li>
        <li class="breadcrumb-item"><a asp-page="/Session" asp-route-id="@Model.SessionId">@Model.SessionName</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.TopicOrder. @Model.TopicShortname</li>
    </ol>
</nav>
<div class="row">
    <div class="col">
        <h1>@Model.TopicName</h1>
        <p>@Model.TopicComment</p>
        @if (!string.IsNullOrWhiteSpace(Model.TopicText))
        {
            <h3>@VotingRes.TITLE_TEXT</h3>
            @Html.Raw(Model.TopicText)
        }
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="vote-tab" data-toggle="tab" href="#vote" role="tab" aria-controls="vote" aria-selected="true">@VotingRes.VOTING_TAB_VOTE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="party-tab" data-toggle="tab" href="#party" role="tab" aria-controls="party" aria-selected="false">@VotingRes.VOTING_TAB_PARTY</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="vote" role="tabpanel" aria-labelledby="vote-tab">
        <div class="row">
            @foreach (var voteOption in Model.VoteOptionList)
            {
                <div class="col-lg-4">
                    <h3 class="group">@voteOption.OptionName (@voteOption.VoteList.Count)</h3>
                    <div class="list-group">
                        @foreach (var vote in voteOption.VoteList)
                        {
                            <a href="#" class="list-group-item list-group-item-action @vote.ItemClass flex-column align-items-start" data-toggle="tooltip" data-placement="top" title="@vote.Party">
                                <h3>@vote.DeputyName</h3>
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="tab-pane fade" id="party" role="tabpanel" aria-labelledby="party-tab">
        @foreach (var party in Model.PartyList)
        {
            <div class="row">
                <h2 class="group">@party.Name</h2>
            </div>
            <div class="row">
                @foreach (var voteOption in party.VoteOptionList)
                {
                    <div class="col-lg-4">
                        <h3 class="group">@voteOption.OptionName (@voteOption.VoteList.Count)</h3>
                        <div class="list-group">
                            @foreach (var vote in voteOption.VoteList)
                            {
                                <a href="#" class="list-group-item list-group-item-action @vote.ItemClass flex-column align-items-start">
                                    <h3>@vote.DeputyName</h3>
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
}
