@using VotingWeb.Properties
@using VotingWeb.Areas.Admin.Models.Deputies
@model DeleteModel
@{
    ViewBag.Title = DeputyAdminRes.PAGE_TITLE;
}

<div id="content">
    <div class="float-right">
        @Html.ActionLink(AdminRes.BUTTON_LIST, "Index", "Deputy", new { id = Model.MunicipalityId }, new { @class = "btn btn-info" })
    </div>
    <h1>@DeputyAdminRes.PAGE_TITLE_DELETE</h1>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.MunicipalityId)
        @Html.HiddenFor(model => model.FullName)
        <div class="form-group">
            @Html.LabelFor(model => model.FullName)
            <div class="form-control">@Model.FullName</div>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-warning">@AdminRes.BUTTON_DELETE</button>
        </div>
    }
</div>
