@page
@model VotingCoreWeb.Areas.Admin.Pages.Body.CreateModel
@{
    ViewData["Title"] = BodyAdminRes.PAGE_TITLE;
}

@await Component.InvokeAsync("Alert", new { alert = Model.Alert })

<div id="content">
    <div class="float-right">
        <a asp-page="/Body/Index" asp-route-id="@Model.Item.MunicipalityId" class="btn btn-info">@AdminRes.BUTTON_LIST</a>
    </div>
    <h1>@BodyAdminRes.PAGE_TITLE_CREATE</h1>
    <form method="post">
        <input type="hidden" name="Item.MunicipalityId" value="@Model.Item.MunicipalityId" />
        <div class="form-group">
            <label asp-for="Item.Name"></label>
            <input asp-for="Item.Name" class="form-control form-control-lg" />
            <span asp-validation-for="Item.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item.Description"></label>
            <input asp-for="Item.Description" class="form-control form-control-lg" />
            <span asp-validation-for="Item.Description"></span>
        </div>
        <div class="form-group">
            <h2>@BodyAdminRes.LABEL_CURRENT_MEMBERS</h2>
            <ul class="list-unstyled row">
                @for (int index = 0; index < Model.MemberList.Count; index++)
                {
                    <li class="list-item col-6 col-md-4 col-lg-3">
                        <div class="custom-control custom-checkbox">
                            <input asp-for="MemberList[index].DeputyId" type="hidden" />
                            <input asp-for="MemberList[index].IsChecked" type="checkbox" class="custom-control-input">
                            <label asp-for="MemberList[index].IsChecked" class="custom-control-label">@Model.MemberList[index].DeputyName</label>
                        </div>
                    </li>
                }
            </ul>
        </div>

        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-info" name="action" asp-page-handler="Sessions">@BodyAdminRes.BUTTON_SESSIONS</button>
            <button type="submit" class="btn btn-primary" name="action" asp-page-handler="Save">@AdminRes.BUTTON_SAVE</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
