@using VotingCoreWeb.Infrastructure
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @CommonRes.APPLICATION_NAME</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@CommonRes.APPLICATION_NAME</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">@CommonRes.MENU_ITEM_HOME</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @CommonRes.MENU_ITEM_ADMIN
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @if (User.IsInRole(Constants.ROLE_ADMIN))
                                    {
                                        @Html.ActionLink(CommonRes.MENU_ITEM_ADMIN_MUNICIPALITY, "Index", "Municipality", new { area = "Admin" }, new { @class = "dropdown-item" + (ViewBag.MenuItem == CommonRes.MENU_ITEM_ADMIN_MUNICIPALITY ? " active" : "") })
                                        @Html.ActionLink(CommonRes.MENU_ITEM_ADMIN_USER, "Index", "User", new { area = "Admin" }, new { @class = "dropdown-item" + (ViewBag.MenuItem == CommonRes.MENU_ITEM_ADMIN_USER ? " active" : "") })
                                    }
                                    @if (((System.Security.Claims.ClaimsPrincipal)User).Claims.FirstOrDefault(item => item.Type == Constants.CLAIM_MUNICIPALITY) != null)
                                    {
                                        if (User.IsInRole(Constants.ROLE_ADMIN))
                                        {
                                            <div class="dropdown-divider"></div>
                                        }
                                        @Html.ActionLink(CommonRes.MENU_ITEM_ADMIN_SESSIONS, "Index", "Session", new { area = "Admin" }, new { @class = "dropdown-item" + (ViewBag.MenuItem == CommonRes.MENU_ITEM_ADMIN_SESSIONS ? " active" : "") })
                                        @Html.ActionLink(CommonRes.MENU_ITEM_ADMIN_PARTY, "Index", "Party", new { area = "Admin" }, new { @class = "dropdown-item" + (ViewBag.MenuItem == CommonRes.MENU_ITEM_ADMIN_PARTY ? " active" : "") })
                                        @Html.ActionLink(CommonRes.MENU_ITEM_ADMIN_DEPUTY, "Index", "Deputy", new { area = "Admin" }, new { @class = "dropdown-item" + (ViewBag.MenuItem == CommonRes.MENU_ITEM_ADMIN_DEPUTY ? " active" : "") })
                                        @Html.ActionLink(CommonRes.MENU_ITEM_ADMIN_IMPORT, "Index", "Import", new { area = "Admin" }, new { @class = "dropdown-item" + (ViewBag.MenuItem == CommonRes.MENU_ITEM_ADMIN_IMPORT ? " active" : "") })
                                    }
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - <a href="mailto:jiri.koudelka@pirati.cz">Jiří Koudelka</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
