@using VotingWeb.Properties
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "form-inline my-2 my-lg-0" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink(string.Format(CommonRes.MENU_ITEM_USER, User.Identity.GetUserName()), "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">@CommonRes.MENU_ITEM_LOGOUT</a></li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav">
        @*<li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>*@
        <li class="nav-item">@Html.ActionLink(CommonRes.MENU_ITEM_LOGIN, "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
