@using VotingWeb.Properties
@using VotingWeb.Areas.Admin.Models.Votings
@model UpdateModel

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsCreate)
    @Html.HiddenFor(model => model.TopicId)
    <div class="form-group">
        @Html.LabelFor(model => model.DeputyId)
        @Html.DropDownListFor(model => model.DeputyId, Model.DeputyList, new { @class = "form-control form-control-lg" })
        @Html.ValidationMessageFor(model => model.DeputyId)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PartyId)
        @Html.DropDownListFor(model => model.PartyId, Model.PartyList, new { @class = "form-control form-control-lg" })
        @Html.ValidationMessageFor(model => model.PartyId)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Vote)
        @Html.DropDownListFor(model => model.Vote, Model.VoteList, new { @class = "form-control form-control-lg" })
        @Html.ValidationMessageFor(model => model.Vote)
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <button type="submit" class="btn btn-primary">@AdminRes.BUTTON_SAVE</button>
    </div>
}
