@page
@model VotingCoreWeb.Areas.Admin.Pages.Topic.CreateModel
@{
    ViewData["Title"] = TopicAdminRes.PAGE_TITLE;
}

@await Component.InvokeAsync("Alert", new { alert = Model.Alert })

<div id="content">
    <div class="float-right">
        <a asp-page="/Topic/Index" asp-route-id="@Model.Item.SessionId" class="btn btn-info">@AdminRes.BUTTON_LIST</a>
    </div>
    <h1>@TopicAdminRes.PAGE_TITLE_CREATE</h1>
    <form method="post">
        <input type="hidden" name="Item.SessionId" value="@Model.Item.SessionId" />
        <div class="form-group">
            <label asp-for="Item.Name"></label>
            <input asp-for="Item.Name" class="form-control form-control-lg" />
            <span asp-validation-for="Item.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item.Comment"></label>
            <input asp-for="Item.Comment" class="form-control form-control-lg" />
            <span asp-validation-for="Item.Comment"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item.Order"></label>
            <input asp-for="Item.Order" type="number" class="form-control form-control-lg" />
            <span asp-validation-for="Item.Order"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item.IsProcedural"></label>
            <input asp-for="Item.IsProcedural" class="form-control form-control-lg" />
            <span asp-validation-for="Item.IsProcedural"></span>
        </div>
        <div class="form-group">
            <label asp-for="Item.IsSecret"></label>
            <input asp-for="Item.IsSecret" class="form-control form-control-lg" />
            <span asp-validation-for="Item.IsSecret"></span>
        </div>

        <div class="btn-group" role="group" aria-label="...">
            <button type="submit" class="btn btn-info" name="action" asp-page-handler="Voting">@TopicAdminRes.BUTTON_VOTING</button>
            <button type="submit" class="btn btn-primary" name="action" asp-page-handler="Save">@AdminRes.BUTTON_SAVE</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
